syntax: glob
.idea
.vscode/
.DS_Store
.project
.settings
.classpath
.pydevproject
.coverage
.pytest_cache
.env*
htmlcov
*.pyc
*.pyo
.*.sw*
.*.sv*
*.iml
target
.svn
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.rej
*~
#*#
.#*
report*.html
cookie.txt
dist
dialogs/stories/
assets/
__pycache__/
ipynb/.ipynb_checkpoints/

syntax: regexp
/target$
/.idea$
site/
*.egg-info
