# Copy this sample file to create your own .env

# Go to https://t.me/botfather and ask him to create a bot and generate a token.
# More info at https://core.telegram.org/bots#6-botfather
TELEGRAM_API_KEY=<YOUR KEY HERE>
